.anime {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#anime-cover-image {
    position: absolute;
    width: 1920px;
    height: 400px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
    z-index: -1;
    object-fit: cover;
}

.anime-card {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
    height: 800px;
    border-bottom: 2px solid var(--secondary-colour);
}

.anime-card-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.anime-card-cover button {
    display: flex;
    justify-content: center;
    width: 250px;
    background-color: var(--secondary-colour);
    color: var(--text-colour);
    font-size: 1.5em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.anime-card-cover button:hover {
    background-color: var(--primary-colour);
}

.anime-card img {
    padding: 0;
    margin: 0;
    border-radius: 0;
    width: 400px;
    height: 600px;
    object-fit: cover;
}

.anime-card-textcontent {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.anime-card-titles {
    width: 80%;
}

.anime-card-titles h1 {
    font-size: 6em;
    font-weight: 700;
    color: var(--text-colour);
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-left: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.anime-card-titles h2 {
    font-size: 2em;
    font-weight: 400;
    color: var(--text-colour);
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.anime-card-titles p {
    font-size: 1em;
    font-weight: 400;
    color: var(--text-colour);
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-left: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.anime-card-details {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 25px;
    margin-top: 250px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.anime-card-details em {
    color: var(--primary-colour);
}

.anime-card-details p {
    font-size: 1em;
    font-weight: bold;
    color: var(--text-colour);
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.trailer-container {
    width: 560px;
    height: 315px;
    margin-left: 25px;
    margin-top: 25px;
}

.trailer-container div {
    width: 100%;
    height: 100%;
}

.trailer-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trailer-container button {
    position: relative;
    top: -180px;
    left: 48%;
    background-color: transparent;
    border: none;
    color: rgb(255, 87, 87);
    font-size: 2rem;
    cursor: pointer;
    z-index: 5;
}

.episode-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    
    grid-gap: 20px;
}

.episode-card {
    height: 300px;
}

.episode-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.episode-card-details {
    position: relative;
    top: -120px;
    background-color: rgba(0, 0, 0, 0.5);
}

.episode-card-details h1 {
    margin-left: 15px;
    margin-bottom: 0px;
}

.episode-card-info {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    margin-top: 0;
    gap: 40px;
}


@media screen and (max-width: 768px) {
    .anime {
        height: 100%;
    }

    .anime-card {
        margin-top: 50px;
        height: 100%;
    }

    .anime-card img {
        width: 100%;
    }

    #anime-card-test-image {
        width: 100%;
        height: 300px;
    }

    .anime-card {
        flex-direction: column;
    }

    .anime-card-titles h1 {
        font-size: 2em;
    }

    .anime-card-titles h2 {
        font-size: 1.5em;
    }

    .anime-card-titles p {
        font-size: 1em;
    }

    .anime-card-textcontent {
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .trailer-container {
        width: 100%;
        height: 300px;
    }
}